@use '../abstract/index' as a;

h1, h2, h3, h4,
h5, h6, p {
  font-family: 'Overpass', sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.0675rem;
  
  @include a.breakpoint(medium) {
    font-size: 4rem;
    letter-spacing: -0.12rem;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.0525rem;
  color: a.$clr-primary-color-very-dark-blue;
  
  @include a.breakpoint(medium) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.0525rem;
  line-height: 1.15;
  color: a.$clr-primary-color-very-dark-blue;

  @include a.breakpoint(medium) {
    font-size: 1.75rem;
    line-height: 1;
  }
}

p {
  line-height: 1.75;
  letter-spacing: 0.03125rem;
  color: a.$clr-neutral-very-dark-grayish-blue;
}

a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}