.header-link {
  position: relative;

  &__text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.75;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
  
  &__arrow {
    &--normal {
      transform: rotate(0);
      transition: 0.15s;
    }
    
    &--rotate {
      transform: rotate(180deg);
      transition: 0.15s;
    }
  }

  &__drop-down {
    display: grid;
    position: absolute;
    top: 2rem;
    left: -1.5rem;
    width: 10rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    background-color: $clr-neutral-white;
    border-radius: 0.3rem;
    transform: translate(0, 100%);
    overflow: hidden;
  }

  &__sub-link {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 2.2;
    color: $clr-neutral-dark-black-blue;

    &:hover {
      font-weight: 700;
      letter-spacing: -0.03rem;
    }
  }
}