.mobile-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  &__modal {
    position: absolute;
    display: grid;
    justify-items: center;
    gap: 1.5rem;
    top: 8rem;
    width: calc(100% - 3rem);
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.3rem;
    transform: translate(-50%);
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.24);
    overflow: hidden;
  }

  &__page-links {
    display: grid;
    gap: 1.5rem;
    justify-items: center;
    width: 100%;
  }
  
  &__link-section {
    display: grid;
    justify-items: center;
    width: 100%;
  }

  &__account-links {
    display: grid;
    gap: 1.5rem;
    justify-items: center;
  }
  
  &__login {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 500;
    color: $clr-primary-color-very-dark-blue;
  }
  
  &__link-section {
    display: grid;
    gap: 1.5rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
  }

  &__arrow {
    &--normal {
      transform: rotate(0);
      transition: 0.15s;
    }

    &--rotate {
      transform: rotate(180deg);
      transition: 0.15s;
    }
  }
  
  &__sub-links-list {
    display: grid;
    justify-items: center;
    gap: 0.75rem;
    transform-origin: top;
    width: 100%;
    padding: 1rem;
    background-color: $clr-neutral-off-white;
    border-radius: 0.3rem;
    overflow: hidden;
  }
  
  &__sub-link {
    font-weight: 500;
    line-height: 1.75rem;
    color: $clr-primary-color-very-dark-blue;
    opacity: 0.75;
  }
  
  &__divider {
    width: 100%;
    opacity: 0.5;
    border-color: $clr-neutral-off-white;
  }
}